.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Knewave';
  font-size: 2.8rem;
  color: var(--accent, black);
  text-decoration: none;
  line-height: 1;
  margin: 0;
}

.icon {
  width: 32px;
  height: 32px;
}

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}